<h1>Sign Up</h1>

<form action="/users/create" method = POST>
    <input type="text" name="name" placeholder="Enter your Name" required>
    <input type="email" name="email" placeholder="Enter your Email" required>
    <input type="password" name="password" placeholder="Enter Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="Submit" value="Sign Up">

</form>